{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex">
            <a href="{% url 'task-list' %}"><i class="fa-solid fa-arrow-left back text-decoration-none text"></i></a>
            <p class="mb-3"><a class="backtext" href="{% url 'task-list' %}">Go Back</a></p>
        </div>
        <div class="col-md-4">
            <h1>Login</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="title-container mb-4">
                        <p class="form-text">Username</p>
                        {{form.username}}
                    </div>
                    <div class="title-container mb-4">
                        <p class="form-text">Password</p>
                        {{form.password}}
                    </div>
                    <div class="btn-container position-relative m-5">
                        <div class="position-absolute top-100 start-50 translate-middle">
                            <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
                <p class="account form-text">Don't have an account? <a class="backtext" href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}